*.vsidx
SpinTheWheel/.vs/SpinTheWheel/v17/.suo
SpinTheWheel/.vs/SpinTheWheel/v17/Browse.VC.db
SpinTheWheel/.vs/SpinTheWheel/v17/Browse.VC.db-shm
SpinTheWheel/.vs/SpinTheWheel/v17/Browse.VC.db-wal
SpinTheWheel/.vs/SpinTheWheel/v17/Browse.VC.opendb
SpinTheWheel/.vs/SpinTheWheel/v17/DocumentLayout.backup.json
SpinTheWheel/.vs/SpinTheWheel/v17/DocumentLayout.json
SpinTheWheel/.vs/SpinTheWheel/v17/ipch/AutoPCH/5e44ba72f38b11b2/MAIN.ipch
SpinTheWheel/.vs/SpinTheWheel/v17/ipch/AutoPCH/c66f0600d24ec9ed/WHEEL.ipch
SpinTheWheel/SpinTheWheel.sln
SpinTheWheel/SpinTheWheel/SpinTheWheel.vcxproj
SpinTheWheel/SpinTheWheel/SpinTheWheel.vcxproj.filters
SpinTheWheel/SpinTheWheel/SpinTheWheel.vcxproj.user
SpinTheWheel/SpinTheWheel/SpinTheWheel/x64/Debug/Main.obj
SpinTheWheel/SpinTheWheel/SpinTheWheel/x64/Debug/SpinTheWheel.exe.recipe
SpinTheWheel/SpinTheWheel/SpinTheWheel/x64/Debug/SpinTheWheel.log
SpinTheWheel/SpinTheWheel/SpinTheWheel/x64/Debug/SpinTheWheel.ilk
SpinTheWheel/SpinTheWheel/SpinTheWheel/x64/Debug/SpinTheWheel.tlog/CL.command.1.tlog
SpinTheWheel/SpinTheWheel/SpinTheWheel/x64/Debug/SpinTheWheel.tlog/Cl.items.tlog
SpinTheWheel/SpinTheWheel/SpinTheWheel/x64/Debug/SpinTheWheel.tlog/CL.read.1.tlog
SpinTheWheel/SpinTheWheel/SpinTheWheel/x64/Debug/SpinTheWheel.tlog/CL.write.1.tlog
SpinTheWheel/SpinTheWheel/SpinTheWheel/x64/Debug/SpinTheWheel.tlog/link.command.1.tlog
SpinTheWheel/SpinTheWheel/SpinTheWheel/x64/Debug/SpinTheWheel.tlog/link.read.1.tlog
SpinTheWheel/SpinTheWheel/SpinTheWheel/x64/Debug/SpinTheWheel.tlog/link.secondary.1.tlog
SpinTheWheel/SpinTheWheel/SpinTheWheel/x64/Debug/SpinTheWheel.tlog/link.write.1.tlog
SpinTheWheel/SpinTheWheel/SpinTheWheel/x64/Debug/SpinTheWheel.tlog/SpinTheWheel.lastbuildstate
SpinTheWheel/SpinTheWheel/SpinTheWheel/x64/Debug/vc143.idb
SpinTheWheel/SpinTheWheel/SpinTheWheel/x64/Debug/vc143.pdb
SpinTheWheel/SpinTheWheel/SpinTheWheel/x64/Debug/Wheel.obj
SpinTheWheel/SpinTheWheel/x64/Debug/SpinTheWheel.exe
SpinTheWheel/SpinTheWheel/x64/Debug/SpinTheWheel.pdb
